<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Record</title>
</head>
<body>
    <h1> Add new Contact</h1>
    <hr/>
    <form action="/api/create" method="POST">
        <input type="text" name="name" placeholder="Enter name" required/>
        <input type="email" name="email" placeholder="Enter email" required/>
        <input type="number" name="phoneNo" placeholder="Enter Phone" required/>    
        <button>Add Record</button>
    </form>
    
</body>
</html>